<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE-edge,chorme=1">
    <title>我的博客</title>
    <meta name="description" content="">
    <meta name="keywords" content="">
</head>
<body>
    <h1>{{ title }}</h1>
    <!-- 使用django内置的函数验证用户登录 -->
    {% if request.user.is_authenticated %}
        <p id="welcome-line">{{ request.user.username }} hello world</p>
    {% else %}
        <p id="welcome-line">请登录</p>
    {% endif %}


    <a class="link" href="{{ link_dict.wangyiyuncourse }}">网易云课堂</a>
    <a class="link" href="{{ link_dict.baidu }}">百度</a>
    <ol>
        {% for item in language_list %}
           <!-- <li>{{ item }}</li> -->
            <li> {{ forloop.counter }}.{{ item }}</li>
            <!-- 使用forllop.counter进行循环计数，从1开始，如果需要从0开始，则使用forloop.counter0 -->
        {% endfor %}

    </ol>

</body>
</html>